Flask-Caching==1.10.1
Flask-Migrate==3.1.0
Flask==2.1.1
black==22.3.0
celery==4.3.0
connexion==2.13.0
datadog==0.44.0
flake8-bugbear==19.3.0
flake8==3.7.7
mercurial==6.1.1
moto==4.0.1
packaging==21.3
psycopg2==2.8.2
pytest-flask==1.2.0
pytest==7.1.1
python-hglib==2.6.2
python-jose==3.3.0
redis==3.2.1
requests-mock==1.6.0
requests==2.27.1
rs-parsepatch==0.3.6
sentry-sdk==1.5.8
sentry-sdk[flask]==1.5.8
uWSGI==2.0.20
