swagger: '2.0'
info:
  title: Lando API
  description: An API to get and land Phabricator revisions.
  version: "0.1.0"
produces:
  - application/json
paths:
  /:
    get:
      summary: Redirect to the API UI and documentation
      responses:
        302:
          description: Redirect to the UI
          headers:
            Location:
              description: Where to redirect to
              type: string
  /revisions/{revision_id}:
    get:
      description: |
        Gets a revision's information as well as the information of
        all of its parent revisions.
      parameters:
        - name: revision_id
          in: path
          type: string
          description: |
            The id of the revision to get. This can either be in form of
            'D12345' (as seen in Phabricator URLs), or just the id number.
          required: true
        - name: api_key
          in: query
          type: string
          description: |
            A Phabricator Conduit API key to use to get the revision. If not
            provided, then a default api key capable of getting public revisions
            only will be used instead.
          required: false
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Revision'
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings:
    get:
      operationId: landoapi.api.landings.get_list
      description: |
        Get list of jobs scheduled to land depending on the revision
        and/or status
      parameters:
        - name: revision_id
          in: query
          type: string
        - name: status
          in: query
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Landing'
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'

    post:
      description: |
        Sends request to transplant service and responds just the status code
      parameters:
        - name: data
          required: true
          in: body
          description: |
            The id of the revision and a diff to land. This can either be in
            form of 'D12345' (as seen in Phabricator URLs), or just the id
            number.
          required: true
          schema:
            type: object
            required:
              - revision_id
              - diff_id
            properties:
              revision_id:
                type: string
              diff_id:
                type: integer
              force_override_of_diff_id:
                type: integer
                description: |
                  An optional field. Diff id to override. Landing of an
                  inactive diff is possible if this field is equal to the
                  active diff id for the revision. If not provided or not equal
                  to the active diff id an attempt to land an inactive diff
                  will be prevented.
        - name: api_key
          in: query
          type: string
          description: |
            A Phabricator Conduit API key to use to get the revision.
          required: false
      responses:
        202:
          description: OK
          schema:
            type: object
            properties:
              id:
                type: integer
                description: |
                  A newly created Landing id
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        409:
          description: Unsuccessful attempt to land an inactive diff.
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings/update:
    post:
      operationId: landoapi.api.landings.update
      description: |
        Sends request to transplant service and responds with just the
        status code
      parameters:
        - name: API-Key
          description: A Transplant API key
          in: header
          required: true
          type: string
        - name: data
          in: body
          description: |
            Retrieve status of the landing job
          required: true
          schema:
            type: object
            required:
              - request_id
              - landed
            properties:
              request_id:
                type: integer
              tree:
                type: string
              rev:
                type: string
              patch:
                type: string
              destination:
                type: string
              trysyntax:
                type: string
              landed:
                type: boolean
              error_msg:
                type: string
              result:
                type: string
      responses:
        200:
          description: OK
        403:
          description: Service not authorized
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        404:
          description: Landing does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings/{landing_id}:
    get:
      description: |
        Request the status of the landing job.
      parameters:
        - name: landing_id
          in: path
          type: string
          description: |
            The id of the landing to return
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Landing'
        404:
          description: Landing does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
definitions:
  Landing:
    type: object
    properties:
      id:
        type: integer
        description: |
          The id of the Landing
      request_id:
        type: integer
        description: |
          The id of the Request in Transplant service
      status:
        type: string
        default: 'started'
        description: |
          Status of the landing job in Transplant service
      revision_id:
        type: integer
        description: |
          The id of the Revision
      diff_id:
        type: integer
        description: |
          diff id used to land
      result:
        type: string
        description: |
          revision (sha) of push if landed == true
      error:
        type: string
        description: |
          Error message if landing failed
  Revision:
    type: object
    properties:
      revision_id:
        type: integer
        description: |
          The id of the revision.
      phid:
        type: string
        description: |
          The phid of the revision.
      bug_id:
        type: integer
        description: |
          The ID of the Bugzilla bug this revision belongs to. Or null if
          it is not attached to a specific bug.
      title:
        type: string
        description: |
          The title of the revision.
      url:
        type: string
        description: |
          A url to the revision on Phabricator.
      date_created:
        type: integer
        description: |
          The date that the revision was created as a unix timestamp.
      date_modified:
        type: integer
        description: |
          The date that the revision was last modified as a unix timestamp.
      status:
        type: integer
        description: |
          An integer representing the review status of the revision.
          0 - Not reviewed.
          1 - Changes requested.
          2 - Approved.
          Phabricator may use other integers to represent other statuses, but,
          these are not known at this time.
      status_name:
        type: string
        description: |
          A string representation of the status as determined by Phabricator.
      summary:
        type: string
        description: |
          The summary provided on the revision.
      test_plan:
        type: string
        description: |
          The test plan provided on the revision.
      commit_message_preview:
        type: string
        description: |
          The default first line of the commit message that will be used
          when landing the revision. This line is formatted to include the
          Revision title, bug id, and any reviewers.
      diff:
        $ref: '#/definitions/Diff'
        description: |
          The most recent diff for the revision.
      author:
        $ref: '#/definitions/User'
      repo:
        $ref: '#/definitions/Repo'
      parent_revisions:
        type: array
        items:
          $ref: '#/definitions/Revision'
        description: |
          A list of revisions which this revision depends on. I.e. this revision
          cannot land until its parents have landed. This list will almost
          always contain just one revision. That revision may itself also have
          parent revisions. Traverse each parent revision until one without any
          parent is found to determine the full dependancy chain.
  User:
    type: object
    properties:
      phid:
        type: string
        description: |
          The phid of the user.
      username:
        type: string
        description: |
          The user's username on Phabricator.
      real_name:
        type: string
        description: |
          The user's real name as they set it on Phabricator.
      url:
        type: string
        description: |
          A url pointing to the user on Phabricator.
      image_url:
        type: string
        description: |
          A url pointing to the user's Phabricator avatar.
  Repo:
    type: object
    properties:
      phid:
        type: string
        description: |
          The phid of the repo.
      short_name:
        type: string
        description: |
          A short representation of the repo name.
      full_name:
        type: string
        description: |
          The full name of the repo.
      url:
        type: string
        description: |
          A url pointing to the repo on Phabricator.
  Diff:
    type: object
    properties:
      id:
        type: integer
        description: |
          The integer id of the Diff.
      revision_id:
        type: integer
        description: |
          The integer id of the Revision that this Diff belongs to.
      date_created:
        type: integer
        description: |
          The date this Diff was created as a unix timestamp.
      date_modified:
        type: integer
        description: |
          The date this Diff was last modified as a unix timestamp.
      vcs_base_revision:
        type: string
        description: |
          The commit hash id of the commit that this Diff was based on. I.e.
          the parent commit of the commits used to make this Diff.
      authors:
        type: array
        description: |
          An array of the authors for each commit that was used in creating
          this diff, sorted by tip commit first.
        items:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
  # RFS7807 Problem Details for HTTP APIs (https://tools.ietf.org/html/rfc7807)
  # is used for error messages. Extensions to the error can be speced using an
  # "allOf" schema keyword along with additional schema definition
  Error:
    type: object
    properties:
      status:
        type: integer
      type:
        type: string
      title:
        type: string
      detail:
        type: string
      instance:
        type: string
