swagger: '2.0'
info:
  title: Lando API
  description: An API to get and land Phabricator revisions.
  version: "0.2.0"
securityDefinitions:
  PhabricatorAPIKeyHeader:
    type: apiKey
    in: header
    name: X-Phabricator-API-Key
  Auth0AccessToken:
    type: apiKey
    in: header
    name: Authorization
    description: An Auth0 access token with the proper lando-api audience. Note
                 that the value of this header should be a Bearer token, but
                 it is not possible to define that with swagger 2.0. Please
                 pass the api key value as "Bearer access_token". The token
                 should have the 'lando', 'openid', 'email', and 'profile'
                 scopes.

produces:
  - application/json
paths:
  /:
    get:
      summary: Redirect to the API specification
      responses:
        302:
          description: Redirect to swagger.json
          headers:
            Location:
              description: Where to redirect to
              type: string
  /revisions/{revision_id}:
    get:
      description: |
        Gets a revision's information as well as the information of
        all of its parent Revisions. By default only public revisions are
        accessible. If a Phabricator API key is set in the X-Phabricator-API-Key
        header, then you may access private Revisions which the owner of the api
        key has access to.
      security:
        - {}
        - PhabricatorAPIKeyHeader: []
      parameters:
        - name: revision_id
          in: path
          type: string
          description: |
            The id of the revision in the form of 'D{number}', e.g. 'D12345'.
          required: true
        - name: diff_id
          in: query
          type: integer
          description: |
            The id of the optional diff. By default an active diff will
            be returned.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Revision'
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings:
    get:
      operationId: landoapi.api.landings.get_list
      description: |
        Get list of jobs scheduled to land depending on the revision
        and/or status
      security:
        - {}
        - PhabricatorAPIKeyHeader: []
      parameters:
        - name: revision_id
          in: query
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Landing'
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'

    post:
      description: |
        Sends request to transplant service and responds just the status code.
        By default only public revisions are accessible. If a Phabricator API
        key is set in the X-Phabricator-API-Key header, then you may access
        private Revisions which the owner of the api key has access to.
      security:
        - Auth0AccessToken: []
        - Auth0AccessToken: []
          PhabricatorAPIKeyHeader: []
      parameters:
        - name: data
          description: The data required to request a landing.
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/LandingRequest'
              - type: object
                properties:
                  confirmation_token:
                    type: string
                    description: |
                      A token representing the set of acknowledged warnings
                      when landing. The /landings/dryrun endpoint responds
                      with the current warnings and the matching token. If
                      the warnings have changed between requesting a dryrun
                      and requesting a landing, the landing will fail.
      responses:
        202:
          description: OK
          schema:
            type: object
            properties:
              id:
                type: integer
                description: |
                  A newly created Landing id
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        409:
          description: Unsuccessful attempt to land an inactive diff.
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        400:
          description: Blockers or Unacknowledged Warnings
          schema:
            allOf:
              - $ref: '#/definitions/Error'
              - $ref: '#/definitions/LandingAssessment'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings/dryrun:
    post:
      operationId: landoapi.api.landings.dryrun
      description: |
        Check for any issues that may prevent the caller from landing the given
        revision. By default only public revisions are accessible. If a
        Phabricator API key is set in the X-Phabricator-API-Key header, then
        you may access private Revisions which the owner of the api key has
        access to.
      security:
        - Auth0AccessToken: []
        - Auth0AccessToken: []
          PhabricatorAPIKeyHeader: []
      parameters:
        - name: data
          description: The data required to request a landing.
          required: true
          in: body
          schema:
            $ref: '#/definitions/LandingRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandingAssessment'
        404:
          description: Revision does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings/update:
    post:
      operationId: landoapi.api.landings.update
      description: |
        Receive an update of the landing status from Transplant API
      parameters:
        - name: API-Key
          description: A Transplant API key
          in: header
          required: true
          type: string
        - name: data
          in: body
          description: |
            Retrieve status of the landing job
          required: true
          schema:
            type: object
            required:
              - request_id
              - landed
            properties:
              request_id:
                type: integer
              tree:
                type: string
              rev:
                type: string
              destination:
                type: string
              trysyntax:
                type: string
              landed:
                type: boolean
              error_msg:
                type: string
              result:
                type: string
      responses:
        200:
          description: OK
        403:
          description: Service not authorized
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        404:
          description: Landing does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /landings/{landing_id}:
    get:
      description: |
        Request the status of the landing job.
      security:
        - {}
        - PhabricatorAPIKeyHeader: []
      parameters:
        - name: landing_id
          in: path
          type: integer
          description: |
            The id of the landing to return
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Landing'
        404:
          description: Landing does not exist
          schema:
            allOf:
              - $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
  /stacks/{revision_id}:
    get:
      description: |
        Get the stack a revision is part of
      security:
        - {}
        - PhabricatorAPIKeyHeader: []
      parameters:
        - name: revision_id
          in: path
          type: string
          description: |
            The id of the revision in the form of 'D{number}', e.g. 'D12345'.
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Stack'
        default:
          description: Unexpected error
          schema:
            allOf:
              - $ref: '#/definitions/Error'
definitions:
  LandingRequest:
    type: object
    required:
      - revision_id
      - diff_id
    properties:
      revision_id:
        type: string
        description: |
          The ID of a revision in the form of 'D{number}', e.g.
          'D12345'.
      diff_id:
        type: integer
        description: |
          The ID of a phabricator diff which is associated with the provided
          revision_id.
  Landing:
    type: object
    properties:
      id:
        type: integer
        description: |
          The id of the Landing
      request_id:
        type: integer
        description: |
          The id of the Request in Transplant service
      status:
        type: string
        enum: [aborted, landed, failed, submitted]
        description: |
          Status of the landing job in Transplant service
      revision_id:
        type: string
        description: |
          The id of the Revision in the form of D{number}
      diff_id:
        type: integer
        description: |
          diff id used to land
      result:
        type: string
        description: |
          revision (sha) of push if landed == true
      error_msg:
        type: string
        description: |
          Error message if landing failed
      requester_email:
        type: string
        description: |
          Email of the requester
      tree:
        type: string
        description: |
          The repo the revision will land to
      tree_url:
        type: string
        description: |
          The source url of the repo the revision will land to
      created_at:
        type: string
        format: date-time
        description: |
          UTC time of creation
      updated_at:
        type: string
        format: date-time
        description: |
          UTC time of the last update
  Stack:
    type: object
    properties:
      edges:
        type: array
        description: |
          A list of edges defining the stacks dependency graph.
        items:
          $ref: '#/definitions/StackEdge'
      landable_paths:
        type: array
        description: |
          A list of landable paths through the stack graph.
        items:
          $ref: '#definitions/LandablePath'
      revisions:
        type: array
        description: |
          A list of revisions which are part of the stack.
        items:
          $ref: '#/definitions/Revision'
  LandablePath:
    type: array
    description: |
      A path through a revision stack indicating the set of revisions are
      landable. Each item in the list is a child revision of the item before
      it.
    minItems: 1
    items:
      type: string
      description: |
        A revision PHID
  StackEdge:
    type: array
    description: |
      An edge between two revisions in a stack. The first item is the child
      the second is the parent.
    minItems: 2
    maxItems: 2
    items:
      type: string
      description: |
        A revision PHID.
  Revision:
    type: object
    properties:
      revision_id:
        type: string
        description: |
          The id of the revision in the form of D{number}
      phid:
        type: string
        description: |
          The phid of the revision.
      status:
        type: object
        description: |
          The status of the revision.
        properties:
          value:
            type: string
            description: |
              The value of this status from Phabricator, a unique identifier.
          display:
            type: string
            description: |
              A string suitable for displaying this status to a user.
          closed:
            type: boolean
            description: |
              Whether this status implies the revision is closed.
      bug_id:
        type: integer
        description: |
          The ID of the Bugzilla bug this revision belongs to. Or null if
          it is not attached to a specific bug.
      title:
        type: string
        description: |
          The title of the revision.
      url:
        type: string
        description: |
          A url to the revision on Phabricator.
      date_created:
        type: string
        description: |
          The date that the revision was created as an ISO format UTC timestamp.
      date_modified:
        type: string
        description: |
          The date that the revision was last modified as an ISO format UTC
          timestamp.
      summary:
        type: string
        description: |
          The summary provided on the revision.
      commit_message_title:
        type: string
        description: |
          The first line of the commit message that will be used when landing
          the revision.
      commit_message:
        type: string
        description: |
          The full commit message that will be used when landing the revision.
          It is formatted to include the revision title, bug id, reviewers,
          and revision URL.
      diff:
        $ref: '#/definitions/Diff'
      author:
        $ref: '#/definitions/User'
      reviewers:
        type: array
        items:
          $ref: '#/definitions/Reviewer'
  User:
    type: object
    properties:
      phid:
        type: string
        description: |
          The phid of the user.
      username:
        type: string
        description: |
          The user's username on Phabricator.
      real_name:
        type: string
        description: |
          The user's real name as they set it on Phabricator.
  Reviewer:
    type: object
    description: |
      Representation of the reviewer in the context of a revision.
    properties:
      phid:
        type: string
        description: |
          The phid of the user.
      status:
        type: string
        enum: [added, accepted, blocking, rejected, resigned]
        description: |
          Status set by or on the reviewer. Users added as blocking reviewers
          have status set to "blocking" instead of "added".
      for_other_diff:
        type: boolean
        description: |
          True if the reviewer's status (acceptance/rejection) is on a
          different diff.
      identifier:
        type: string
        description: |
          The identifying name for this reviewer. Username or project name
          for reviewers that are users or projects respectively.
      full_name:
        type: string
        description: |
          A longer name for the reviewer. For a user this would be their
          realName.
      blocking_landing:
        type: boolean
        description: |
          True if this reviewer is blocking the revision/diff from landing,
          such as not having reviewed yet as a blocking reviewer or having
          rejected the particular diff.
  Diff:
    type: object
    properties:
      id:
        type: integer
        description: |
          The integer id of the Diff.
      phid:
        type: string
        description: |
          The phid of the Diff.
      date_created:
        type: string
        description: |
          The date this Diff was created as an ISO format UTC timestamp.
      date_modified:
        type: string
        description: |
          The date this Diff was last modified as an ISO format UTC timestamp.
      vcs_base_revision:
        type: string
        description: |
          The commit hash id of the commit that this Diff was based on. I.e.
          the parent commit of the commits used to make this Diff.
      author:
        type: object
        description: |
          The author of the diff as returned by Phabricator. Both name and
          email are possibly empty strings.
        properties:
          name:
            type: string
          email:
            type: string
  LandingAssessment:
    type: object
    properties:
      confirmation_token:
        type: string
        description: |
          A token to be passed along with the landing request when the caller
          goes to land a revision.  By receiving and passing the token along
          the caller asserts that they have acknowledged all of the warnings.
          For example, the caller could present a UI with the warnings to the
          end user and have the user acknowledge the warnings with a checkbox.
          Once acknowledged, the UI can pass the confirmation token to the
          landings endpoint so the landing can proceed.
      warnings:
        type: array
        items:
          $ref: '#/definitions/LandingProblem'
        description: |
          A list of issues that the caller should acknowledge before landing
          their revision.  The caller can signal acknowledgement by sending the
          confirmation_token with their landing request.
      blockers:
        type: array
        items:
          $ref: '#/definitions/LandingProblem'
        description: |
          A list of problems that stop landing of this revision, such as
          insufficient version control privileges.
  LandingProblem:
    type: object
    properties:
      id:
        type: string
        description: |
          The id of the problem or warning as a string, such as W125 or E42
      message:
        type: string
        description: |
          A detailed human-readable description of the issue. This message
          should be suitable for display in a user interface.
  # RFC 7807 Problem Details for HTTP APIs (https://tools.ietf.org/html/rfc7807)
  # is used for error messages. Extensions to the error can be speced using an
  # "allOf" schema keyword along with additional schema definition
  Error:
    type: object
    properties:
      status:
        type: integer
      type:
        type: string
      title:
        type: string
      detail:
        type: string
      instance:
        type: string
